<!DOCTYPE html>
<html>
<head>
  <title>Carlo Acutis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=My+Soul&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playwrite+VN+Guides&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Smooch+Sans:wght@100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container6">
        <h1>Četrtek</h1>
        <h4>9. oktober</h4>
        <p>Zdajle imam kar dosti časa zdajle, ki bi ga lahko namenil programiranju, saj sem zgodaj začel z dnevom.</p>
        <p>A čutim tudi svojo nesposobnost, in me je strah, da bi se zapletel v težave, ki jih nebi mogel rešiti.</p>
        <div class="container6">
            <%= image_tag "troubles.jpg", alt: "troubles" %>
        </div>
        <p>Saj meni bi že veliko pomenilo, če bi se vsaj kolikor toliko redno usedel za računalnik.</p>
        <p>Pa četudi bi samo nekaj malega napravil.</p>
        <p>In me nebi premagala strah in odpor.</p>
        <br>
        <p>Potemtakem bi morda kdaj na dolgi rok lahko kaj nastalo.</p>
        <p>Brez, da bi jaz večino časa sploh vedel kam to pelje.</p>
        <div class="container6">
            <%= image_tag "neznano.jpg", alt: "Neznanokam" %>
        </div>
        <p>Tako zelo težko je živeti v tem svetu polnem nevarnosti.</p>
        <div class="container6">
            <%= image_tag "danger.jpg", alt: "danger" %>
        </div>
        <p>Ne zdi se, da je karkoli pravično.</p>
        <div class="container6">
            <%= image_tag "blind.jpg", alt: "unfair" %>
        </div>
        <p>Ah, ne vem kako bo. Prosim usmiljenja.</p>
    </div>
    <div class="container5">
         <p id="sredina">
            <a href="./">
                <button class="button">
                    <i class="bi bi-house-fill" style="font-size: 1.5rem;"></i>
                </button>
            </a>
        </p>
    </div>
</body>
</html>