<!DOCTYPE html>
<html>
<head>
  <title>Carlo Acutis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=My+Soul&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playwrite+VN+Guides&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Smooch+Sans:wght@100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container6">
        <h1>Carlo Acutis</h1>
        <%= image_tag "Carlo.webp", alt: "Carlo" %>
        <p>Ta stran je posvečena Carlu Acutisu, na katerega priprošnjo se tudi obračam.</p>
    </div>
    <div class="container3">
        <ul>
          <p id="poudarjeno">Tu bom probal dodajati linke do poizkusnih strani.</p>
            <li>
                <p>Tukaj je za</p>
                <a href="./konectedna">
                    <button class="button">zadnji dan</button>
                </a>
                <p>V tem tednu</p>
            </li>
        </ul>
    </div>
    <div class="container3">
        <ul>
          <p id="poudarjeno">Saj zdaj je že nov teden.</p>
          <p>Začnimo s</p>
            <li>
                <a href="./ponedeljek0610">
                    <button class="button">ponedeljkom</button>
                </a>
            </li>
          <p>Nadaljujemo pa že s</p>
            <li>
                <a href="./torek0710">
                    <button class="button">torkom</button>
                </a>
            </li>
          <p>In kar naenkrat je tu</p>
            <li>
                <a href="./sreda0810">
                    <button class="button">sreda</button>
                </a>
            </li>
          <p>Kdo bi si mislil, da bom programiral tudi v</p>
            <li>
                <a href="./cetrtek0910">
                    <button class="button">četrtek</button>
                </a>
            </li>
          <p>Zdaj pa sem tukaj še v</p>
            <li>
                <a href="./petek1010">
                    <button class="button">petek</button>
                </a>
            </li>

        </ul>
      </div>
       <div class="container3">
        <ul>
          <p id="poudarjeno">Začetek novega tedna.</p>
            <li>
                <a href="./ponedeljek1310">
                    <button class="button">Prva stran</button>
                </a>
                <p>novega tedna</p>
            </li>
            <li>
                <a href="./torek1410">
                    <button class="button">Druga stran</button>
                </a>
            </li>
            <li>
                <a href="./sreda1510">
                    <button class="button">3. stran</button>
                </a>
            </li>
            <li>
                <p>Izgleda, da bo uspela še</p>
                <a href="./cetrtek1610">
                    <button class="button">4. stran</button>
                </a>
            </li>
            <li>
                <p>To bo pa najverjetneje</p>
                <a href="./petek1710">
                    <button class="button">Zadnja stran</button>
                </a>
                <p>v tem tednu</p>
            </li>
            <hr>
            <a href="./petek1710">
                <%= image_tag "finish.jpg", alt: "finish" %>
            </a>
        </ul>
        </div>
        <div class="container3">
            <ul>
            <p id="poudarjeno">V tem tednu</p>
             <p>pa prvič (in morda zadnjič) programiram šele v:</p>
                <li>
                    <a href="./petek2410">
                        <button class="button">petek</button>
                    </a>
                </li>
            <p>Bo po izgleda uspelo še</p>
                <li>
                    <a href="./sobota2510">
                        <button class="button">drugič</button>
                    </a>
                </li>
            <p>v tem tednu.</p>
            <hr>
            <a href="./sobota2510">
                <%= image_tag "ograja.jpg", alt: "finish" %>
            </a>
            </ul>
        </div>
        <div class="container3">
            <ul>
            <p id="poudarjeno">V tem tednu</p>
             <p>pa prvič programiram v:</p>
                <li>
                    <a href="./torek2810">
                        <button class="button">torek</button>
                    </a>
                </li>
            <p>Kar je sicer boljše kot v petek, a zelo obžalujem, da nisem rajše začel že včeraj.</p>
            <hr>
            <p>Nadaljujem pa že v:</p>
                <li>
                    <a href="./sreda2910">
                        <button class="button">sredo</button>
                    </a>
                </li>
            <p>Končujem pa v:</p>
                <li>
                    <a href="./sobota0111">
                        <button class="button">soboto</button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
</body>
</html>