<!DOCTYPE html>
<html>
<head>
  <title>Carlo Acutis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=My+Soul&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playwrite+VN+Guides&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Smooch+Sans:wght@100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container6">
        <h1>Petek</h1>
        <h4>24. oktober</h4>
        <p>V tem tednu mi pa prav do danes ni niti pod razno uspelo programirati.</p>
        <p>Še pomisliti nisem mogel prav zares na to.</p>
        <hr>
        <p>Zelo težak teden je to bil, in žalosten sem, da je bilo tako.</p>
        <p>Da še vedno ne znam prav živeti in se odločati za male, preproste stvari.</p>
        <br>
        <p>Se pa vmes kdaj zazdi, da malo pa morda le napredujem... da ni tako zelo slabo kot je bilo.</p>
        <p>Upam, da se ne motim in bo šlo vse skupaj na bolje. Korak po korak.</p>
        <div class="container6">
            <%= image_tag "steps.jpg", alt: "upanje" %>
        </div>
        <hr>
        <p>Upam, da se bom še pravi čas naučil kar se rabim in bom lahko živel kakor je prav.</p>
        <p>In s tem morda lahko komu pripomogel naproti boljšemu življenju.</p>
        <div class="container6">
            <%= image_tag "learn.jpg", alt: "upanje" %>
        </div>
        <p>Morajo iti stvari nasproti dobremu, morajo.</p>
        <p>Ta teden je bil zopet bolj kaotičen, in to je sila nevarno zame, saj me lahko to vrže iz tira in spravi v obup.</p>
        <p>Se pa trenutno počutim, da sem na varnem, in upam, da se ne motim.</p>
        <div class="container6">
            <%= image_tag "safe.jpg", alt: "upanje" %>
        </div>
    </div>
        <div class="container5">
         <p id="sredina">
            <a href="./petek1710">
                 <button class="button">
                    <i class="bi bi-arrow-left-circle" style="font-size: 1.5rem;"></i>
                 </button>
            </a>
            <a href="./">
                <button class="button">
                    <i class="bi bi-house-fill" style="font-size: 1.5rem;"></i>
                </button>
            </a>
            <a href="./praznastran">
                 <button class="button">
                    <i class="bi bi-arrow-right-circle" style="font-size: 1.5rem;"></i>
                </button>
            </a>
        </p>
    </div>
</body>
</html>