<!DOCTYPE html>
<html>
<head>
  <title>Carlo Acutis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=My+Soul&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playwrite+VN+Guides&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Smooch+Sans:wght@100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container6">
        <h1>Petek</h1>
        <h4>10. oktober</h4>
        <p>Nažalost sem potopljen v morje skušnjav in ne vem koliko bom kaj sposoben napravit in kako dolgo bom lahko vztrajal.</p>
        <%= image_tag "jesusangels.jpg", alt: "jesus angels" %>
        <%= image_tag "agony.jpg", alt: "agony" %>
        <p>Joj, ne vem jaz kakšne sile vse lahko vplivajo na človeka.</p>
        <p>Vem pa, da se zdijo izredno močne, zapeljive in nepremagljive.</p>
        <p>Četudi sem se jim kdaj v preteklosti že uprl, se zdaj tega ne morem spomniti.</p>
        <%= image_tag "drahma.jpg", alt: "drahma" %>
        <p>Sem si pa vsaj zdaj nekaj slik Jamesa Tissota ogledal, to mi je pa tudi bilo v manjšo uteho in vzpodbudo.</p>
        <p>Le tega ne vem ali bo trajalo.</p>
        <br>
        <p>Morda je to vse za danes kar se programiranja tiče. Še probam naložit na strežnik in je to to.</p>
    </div>
    <div class="container6">
        <%= image_tag "melanholija.jpg", alt: "melanholija" %>
    </div>
    <div class="container5">
         <p id="sredina">
            <a href="./">
                <button class="button">
                    <i class="bi bi-house-fill" style="font-size: 1.5rem;"></i>
                </button>
            </a>
        </p>
    </div>
</body>
</html>