<!DOCTYPE html>
<html>
<head>
  <title>Carlo Acutis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=My+Soul&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playwrite+VN+Guides&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Smooch+Sans:wght@100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container6">
        <h1>Ponedeljek</h1>
        <h4>6. oktober</h4>
        <p>Zdajle sem probal tiste pikce, ki so se pojavile po pleskanju, prebarvat
            in jih nekako napravit za zvezdice.
        </p>
        <%= image_tag "stars.jpg", alt: "zvezdice" %>
        <p>Je še malo prezgodaj za govorit ali je uspelo ali ne.</p>
        <p>Sem pa dodal še nov nanos akrilne barv na dva dela lustra in na vratne podboje.</p>
        <br>
        <p>Saj ni za pričakovat, da bodo stvari na nivoju narejene.</p>
        <p>Bi mi pa dosti pomenilo, če bi se vsaj toliko lotil po malem vzdrževalnih del.</p>
        <p>In bi tako na koncu koncev bile stvari, ki so nekako pod moj skrbjo, vsaj za silo urejene.</p>
        <p>Morda kdaj celo lepe.</p>
        <br>
        <p>Se mi zdi smiselno, da stremim vsaj k osnovnemu dostojnemu življenju.</p>
        <p>Sploh glede na to, da je zame to zelo težko, vsak tak korak šteje.</p>
        <p>In morda se bom tako na dolgi rok še kaj naučil o življenju.</p>
        <br>
        <p>Me pa hitro prične grabit obup pri teh stvareh.</p>
        <p>Pa spomini na ljudi, ki so razvrednotili.</p>
        <p>Ne vem ali je takšno delo neke vrste molitev tudi.</p>
        <p>Ko se ne pusti uničevalni sili zla, da prevlada, ampak se skuša pomalem popraviti škodo udarcev greha.</p>
    </div>
     <div class="container5">
         <p id="sredina">
            <a href="./">
                <button class="button">
                    <i class="bi bi-house-fill" style="font-size: 1.5rem;"></i>
                </button>
            </a>
        </p>
    </div>
</body>
</html>