<!DOCTYPE html>
<html>
<head>
  <title>Carlo Acutis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=My+Soul&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playwrite+VN+Guides&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Smooch+Sans:wght@100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container6">
        <h1>Sobota</h1>
        <h4>25. oktober</h4>
        <p>Danes bom samo malo raziskal možnosti glede Javascripta, samo osnovno tipanje, saj zelo malo vem glede tega.</p>
    </div>
    <div class="container7">
        <%= image_tag "js2.png", alt: "javascript", class: "megleno" %>
    </div>
    <div class="container6">
        <p>Potem sem le probaval tale JS logo napravit, da iz meglenega nastane jasno.</p>
        <hr>
        <p>Mislim, da bom za dodajanje kakšnegakoli JavaScripta rabil več časa, in se bom rabil večkrat usesti za računalnik.</p>
        <p>Da bom šele počasi poštudiral za kaj se gre.</p>
    </div>
        <div class="container5">
         <p id="sredina">
            <a href="./petek2410">
                 <button class="button">
                    <i class="bi bi-arrow-left-circle" style="font-size: 1.5rem;"></i>
                 </button>
            </a>
            <a href="./">
                <button class="button">
                    <i class="bi bi-house-fill" style="font-size: 1.5rem;"></i>
                </button>
            </a>
            <a href="./praznastran">
                 <button class="button">
                    <i class="bi bi-arrow-right-circle" style="font-size: 1.5rem;"></i>
                </button>
            </a>
        </p>
    </div>
</body>
</html>