<!DOCTYPE html>
<html>
<head>
  <title>Carlo Acutis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=My+Soul&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playwrite+VN+Guides&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Smooch+Sans:wght@100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container6">
        <h1>Sobota</h1>
        <h4>1. november</h4>
        <p>Sem mislil, da bi probal napraviti še en krajši zapis za danes, eno preprosto stran.</p>
        <p>Saj sem od torka naprej vsak dan namenjal čas programiranju,</p>
        <p>le da sem zadnja dva dneva gledal le predavanja in napravil nekaj osnovnih Stimulus vaj.</p>
        <div class="container5">
            <%= image_tag "stimulus.png", alt: "Stimulus" %>
        </div>
        <div class="container5">
            <%= image_tag "hotwire.png", alt: "Hotwire Native" %>
        </div>
        <div class="container5">
            <%= image_tag "ruby.jpg", alt: "Ruby" %>
        </div>
        <p>Torej sem v treh dneh gledal precej predavanj in predstavitev, začenši v sredo,</p>
        <p>in se bo morda kdaj to v prihodnje izkazalo kot koristno pri usmerjanju.</p>
        <p>Če se bo pa izkazalo kot napaka, pa upam, da bom to dovolj zgodaj prepoznal</p>
        <p>in bolje zapolnil čas v prihodnje....</p>
        <hr>
        <p>Je bil pa zelo zahteven teden kar se programiranja tiče in sem vesel, da ga je konec.</p>
    </div>
        <div class="container5">
         <p id="sredina">
            <a href="./sreda2910">
                 <button class="button">
                    <i class="bi bi-arrow-left-circle" style="font-size: 1.5rem;"></i>
                 </button>
            </a>
            <a href="./">
                <button class="button">
                    <i class="bi bi-house-fill" style="font-size: 1.5rem;"></i>
                </button>
            </a>
            <a href="./praznastran">
                 <button class="button">
                    <i class="bi bi-arrow-right-circle" style="font-size: 1.5rem;"></i>
                </button>
            </a>
        </p>
    </div>
</body>
</html>