<!DOCTYPE html>
<html>
<head>
  <title>Carlo Acutis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=My+Soul&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playwrite+VN+Guides&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Smooch+Sans:wght@100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container6">
        <h1>Sreda</h1>
        <h4>8. oktober</h4>
        <p>Danes sem uspel iti v trgovino, kar je vedno razlog za hvaležnost, saj mi je večinoma težko iti.</p>
        <div class="container6">
            <%= image_tag "store.jpg", alt: "trgovina" %>
        </div>    
        <p>Pa tudi kasneje navadno premlevam kakšne situacije, ki morda sploh niso tako pomembne.</p>
        <p>Težko jaz razumem karkoli.</p>
        <p>Sem bil pa danes na splošno bolj notranje umirjen kot ponavadi.</p>
        <p>Neki zametki notranjih kreganj so se že začenjali, a niso šli tako daleč kot kdaj poprej.</p>
        <p>In sem hvaležen, da je tako. Si pa ne zaslužim miru, to pa vem.</p>
        <div class="container6">
            <%= image_tag "gratitude.jpg", alt: "gratitude" %>
        </div>
    </div>
    <div class="container5">
         <p id="sredina">
            <a href="./">
                <button class="button">
                    <i class="bi bi-house-fill" style="font-size: 1.5rem;"></i>
                </button>
            </a>
        </p>
    </div>
</body>
</html>