<!DOCTYPE html>
<html>
<head>
  <title>Carlo Acutis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=My+Soul&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playwrite+VN+Guides&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Smooch+Sans:wght@100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container6">
        <h1>Torek</h1>
        <h4>7. oktober</h4>
        <p>Za danes se mi zdi bolje čisto malo programirati.</p>
        <p>Po težkem prejšnjem tednu bi rajše počel tiste stvari, ki so že nekako rutinske.</p>
        <p>Da ne obupam nad vsem skupaj.</p>
        <p>Saj to moram še najbolj paziti, da mi ne postane preveč in ne vržem vsega skupaj stran.</p>
        <br>
        <br>
        <p>Bi pa morda lahko popoldne sprobal oljne barve.</p>
        <p>Saj osnovno probo sem že napravil pred časom</p>
        <p>Zdaj bi se pa tega lahko spet malo bolj redno lotil.</p>

    </div>
    <div class="container6">
        <%= image_tag "oilcolors.jpg", alt: "oljne barve" %>
    </div>
    <div class="container5">
        <p>Zdi se uredu ideja. Zdi se izvedljivo.</p>
    </div>
    <div class="container5">
        <p>Bom pa zdajle po tem programiranju naročil tudi nov elektronski bralnik in upam, da se bo dobro izšlo.</p>
    </div>
    <div class="container6">
        <%= image_tag "bralnik2.jpg", alt: "elektronski bralnik" %>
    </div>
    <div class="container5">
        <p>Ne maram nakupovat, a upam, da je to dobra odločitev.</p>
    </div>
    <div class="container6">
        <p>Naj bo to za danes vse, da ne bom pretiraval.</p>
        <p>Še naložim na strežnik in je to to.</p>
        <span class="material-symbols-outlined">
            child_care
        </span>
    </div>

    <div class="container5">
         <p id="sredina">
            <a href="./">
                <button class="button">
                    <i class="bi bi-house-fill" style="font-size: 1.5rem;"></i>
                </button>
            </a>
        </p>
    </div>
</body>
</html>