<!DOCTYPE html>
<html>
<head>
  <title>Carlo Acutis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=My+Soul&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playwrite+VN+Guides&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Smooch+Sans:wght@100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container6">
        <h1>Torek</h1>
        <h4>28. oktober</h4>
        <p>Včeraj se mi nažalost ni izšlo s programiranjem ampak sta me premagala strah in poželenje.</p>
        <p>Bilo je zelo žalostno, in sem se poceni prodal.</p>
        <p>V preizkušnji se mi je zelo težko odločati za programiranje, pa tudi za risanje.</p>
        <p>Nekako nespametno se mi zdi oboje, kar ne morem videti, da bi kaj dobrega lahko prišlo iz tega.</p>
        <p>Zdi se, da v mojem kaotičnem le malo možno, da bi kaj uporabnega pripeljal do konca.</p>
        <hr>
        <p>Upam, da bom našel način, da počnem nizke stvari po malem, in da se ne peham za stvarmi, ki so zame previsoke.</p>
        <%= image_tag "simple.jpg", alt: "nizko" %>
    </div>
        <div class="container5">
         <p id="sredina">
            <a href="./sobota2510">
                 <button class="button">
                    <i class="bi bi-arrow-left-circle" style="font-size: 1.5rem;"></i>
                 </button>
            </a>
            <a href="./">
                <button class="button">
                    <i class="bi bi-house-fill" style="font-size: 1.5rem;"></i>
                </button>
            </a>
            <a href="./praznastran">
                 <button class="button">
                    <i class="bi bi-arrow-right-circle" style="font-size: 1.5rem;"></i>
                </button>
            </a>
        </p>
    </div>
</body>
</html>