<!DOCTYPE html>
<html>
<head>
  <title>Carlo Acutis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=My+Soul&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playwrite+VN+Guides&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Smooch+Sans:wght@100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container6">
        <h1>Torek</h1>
        <h4>14. oktober</h4>
        <p>Ah, zdajle me že ubija poželenje.</p>
        <p>Nič ne bo z današnjim dnem.</p>
        <%= image_tag "bike.jpg", alt: "bike" %>
        <p>En žalosten, samoten, in morda še sramoten dan bo to.</p>
        <br>
        <p>To je neverjetno, koliko slabega je v meni....</p>
        <p>Kako zelo umazano dušo imam.</p>
        <p>Je vse tako zelo zamazano, da sploh nič ne vidim.</p>
        <%= image_tag "dirtywindow.jpg", alt: "dirty" %>
        <p>Pa sploh se ne morem soočiti s svojimi grehi, zablodami iz preteklosti.</p>
        <p>Ne morem si zamisliti, da bom kdaj boljše živel.</p>
        <p>Ne zdi se mi možno.</p>
        <p>Ne poznam drugega kot greh.</p>
        <p>Ne zdi se mi možno, da se bo kdaj našla rešitev.</p>
        <p>Tako zelo sem osamljen in pritisnjen na rob, da prav boli.</p>
        <p>Vsak dan lahko samo živim svojo sramoto.</p>
        <p>Danes obupujem nad krščansko vero, povsem.</p>
        <br>
        <p>Joj, ko bi vsaj znal stopiti iz osamljenosti v sprejeto samoto...</p>
        <%= image_tag "solitude.jpg", alt: "cross" %>
    </div>
        <div class="container5">
         <p id="sredina">
            <a href="./ponedeljek1310">
                 <button class="button">
                    <i class="bi bi-arrow-left-circle" style="font-size: 1.5rem;"></i>
                 </button>
            </a>
            <a href="./">
                <button class="button">
                    <i class="bi bi-house-fill" style="font-size: 1.5rem;"></i>
                </button>
            </a>
            <a href="./sreda1510">
                 <button class="button">
                    <i class="bi bi-arrow-right-circle" style="font-size: 1.5rem;"></i>
                </button>
            </a>
        </p>
    </div>
</body>
</html>